# Exemplo DS

https://www.kaggle.com/datasets/fedesoriano/heart-failure-prediction

## Imports

In [51]:
import numpy as np
import pandas as pd

## Ler dados

In [52]:
df = pd.read_csv('..\data\Student_performance_data _.csv')
df.shape

(2392, 15)

In [53]:
df.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [54]:
df.isna().sum()

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

## Alteração de valores

In [55]:
df["Tutoring"] = np.where(df["Tutoring"] == 1, "S", "N")

In [56]:
df["Tutoring"].unique()

array(['S', 'N'], dtype=object)

In [57]:
parental_support = {0: "Nenhum",
                    1: "Baixo", 
                    2: "Moderado", 
                    3: "Alto", 
                    4: "Elevado"}

df["ParentalSupport"] = df["ParentalSupport"].apply(lambda x: parental_support[x])

In [58]:
df["ParentalSupport"].unique()

array(['Moderado', 'Baixo', 'Alto', 'Elevado', 'Nenhum'], dtype=object)

In [59]:
df["Extracurricular"] = np.where(df["Extracurricular"] == 1, "S", "N")

In [60]:
df["Extracurricular"].unique()

array(['N', 'S'], dtype=object)

In [61]:
df["Sports"] = np.where(df["Sports"] == 1, "S", "N")

In [62]:
df["Sports"].unique()

array(['N', 'S'], dtype=object)

In [63]:
df["Music"] = np.where(df["Music"] == 1, "S", "N")

In [64]:
df["Music"].unique()

array(['S', 'N'], dtype=object)

In [65]:
df["Volunteering"] = np.where(df["Volunteering"] == 1, "S", "N")

In [66]:
df["Volunteering"].unique()

array(['N', 'S'], dtype=object)

In [67]:
grade = {0.0: "A",
         1.0: "B", 
         2.0: "C", 
         3.0: "D", 
         4.0: "E"}

df["GradeClass"] = df["GradeClass"].apply(lambda x: grade[x])

In [68]:
df["GradeClass"].unique()

array(['C', 'B', 'E', 'D', 'A'], dtype=object)

In [69]:
df.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,S,Moderado,N,N,S,N,2.929196,C
1,1002,18,0,0,1,15.408756,0,N,Baixo,N,N,N,N,3.042915,B
2,1003,15,0,2,3,4.210570,26,N,Moderado,N,N,N,N,0.112602,E
3,1004,17,1,0,3,10.028829,14,N,Alto,S,N,N,N,2.054218,D
4,1005,17,1,0,2,4.672495,17,S,Alto,N,N,N,N,1.288061,E

## Remoção de dados duplicados

In [70]:
df[df.duplicated()]

Empty DataFrame
Columns: [StudentID, Age, Gender, Ethnicity, ParentalEducation, StudyTimeWeekly, Absences, Tutoring, ParentalSupport, Extracurricular, Sports, Music, Volunteering, GPA, GradeClass]
Index: []

## Salvar dados

In [71]:
df.to_csv("../data/Student_performance_processed.csv", index=False)