## Imports

In [31]:
import numpy as np
import pandas as pd

## Ler dados

In [32]:
df = pd.read_csv('..\data\Student_performance_data _.csv')
df.shape

(2392, 15)

In [33]:
df.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [34]:
df.isna().sum()

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

## Alteração de valores

In [35]:
parental_education = {0: "None",
                      1: "High School",
                      2: "Some college",
                      3: "Bachelor's",
                      4: "Higher"}

df["ParentalEducation"] = df["ParentalEducation"].apply(lambda x: parental_education[x])

In [36]:
df["ParentalEducation"].unique()

array(['Some college', 'High School', "Bachelor's", 'Higher', 'None'],
      dtype=object)

In [37]:
df["Tutoring"] = np.where(df["Tutoring"] == 1, "Y", "N")

In [38]:
df["Tutoring"].unique()

array(['Y', 'N'], dtype=object)

In [39]:
parental_support = {0: "None",
                    1: "Low", 
                    2: "Moderate", 
                    3: "High", 
                    4: "Very High"}

df["ParentalSupport"] = df["ParentalSupport"].apply(lambda x: parental_support[x])

In [40]:
df["ParentalSupport"].unique()

array(['Moderate', 'Low', 'High', 'Very High', 'None'], dtype=object)

In [41]:
df["Extracurricular"] = np.where(df["Extracurricular"] == 1, "Y", "N")

In [42]:
df["Extracurricular"].unique()

array(['N', 'Y'], dtype=object)

In [43]:
df["Sports"] = np.where(df["Sports"] == 1, "Y", "N")

In [44]:
df["Sports"].unique()

array(['N', 'Y'], dtype=object)

In [45]:
df["Music"] = np.where(df["Music"] == 1, "Y", "N")

In [46]:
df["Music"].unique()

array(['Y', 'N'], dtype=object)

In [47]:
df["Volunteering"] = np.where(df["Volunteering"] == 1, "Y", "N")

In [48]:
df["Volunteering"].unique()

array(['N', 'Y'], dtype=object)

In [49]:
grade = {0.0: "A",
         1.0: "B", 
         2.0: "C", 
         3.0: "D", 
         4.0: "E"}

df["GradeClass"] = df["GradeClass"].apply(lambda x: grade[x])

In [50]:
df["GradeClass"].unique()

array(['C', 'B', 'E', 'D', 'A'], dtype=object)

In [51]:
df.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,Some college,19.833723,7,Y,Moderate,N,N,Y,N,2.929196,C
1,1002,18,0,0,High School,15.408756,0,N,Low,N,N,N,N,3.042915,B
2,1003,15,0,2,Bachelor's,4.210570,26,N,Moderate,N,N,N,N,0.112602,E
3,1004,17,1,0,Bachelor's,10.028829,14,N,High,Y,N,N,N,2.054218,D
4,1005,17,1,0,Some college,4.672495,17,Y,High,N,N,N,N,1.288061,E

## Remoção de dados duplicados

In [52]:
df[df.duplicated()]

Empty DataFrame
Columns: [StudentID, Age, Gender, Ethnicity, ParentalEducation, StudyTimeWeekly, Absences, Tutoring, ParentalSupport, Extracurricular, Sports, Music, Volunteering, GPA, GradeClass]
Index: []

## Salvar dados

In [53]:
df.to_csv("../data/Student_performance_processed.csv", index=False)